#principal {
	/* largura do formulario todo */
	width:700px;
	height:300px;
	background-color:#AAA;
}

#header {
	width:700px;
	height:60px;
	background-color:#FE0;
	font-size: 30px;
	text-align: center;
}

#conteudo{
<<<<<<< HEAD
	width:300px;
	height:250px;
	background-color:#AAA;
=======
	width:700px;
	height:320px;
	background-color:#EEE;
>>>>>>> 0b8575480ebb3e01f4e004b48155015a3b7ad1b0
}
#conteudo2{
    font-size: 14px;
	width:700px;
	height:270px;
	background-color:#F3E2A9;
}
#coluna1{
	float: left;
	width:300px;
}

#coluna2{
	width:400px;
	margin-left:100%;
	text-align: right;
}

#rodape{
	width:700px;
	height:30px;
	background-color:#FE0;
	float:left;
}

.forCampo{
	position:relative;
	top:20px;
	right:390px;
	font-size:14px;
}

#img-oficina{
	margin: 20px;
}

.formLoginSenha {
	background-color: #F2F2F2; 
	padding: 20px;
	margin: 15px;
}

.botaoEntrar {
	
	width: 300px; 
	height: 40px; 
	font-size: 18px; 
	color: #0B3B0B;
}

.camposTexto {
	
	width: 300px; 
	height: 30px; 
	font-size: 18px; 
	color: #0B3B0B;
}

.labelCampos{
	color: #4455FF;
}
