#principal {
	/* largura do formulario todo */
	width:700px;
	height:370px;
	background-color:#AAA;
}

#header {
	width:700px;
	height:40px;
	background-color:#FE0;
	font-size: 30px;
	text-align: center;
}

#conteudo{
	width:700px;
	height:300px;
	background-color:#AAA;
}

#coluna1{
	float: left;
	width:300px;
}

#coluna2{
	float: right;
	width:400px;
	text-align: right;
}

#rodape{
	width:700px;
	height:30px;
	background-color:#FE0;
}

#img-oficina{
	margin: 20px;
}

.formLoginSenha {
	
	background-color: #F2F2F2; 
	padding: 20px;
	margin: 15px;
}

.botaoEntrar {
	
	width: 300px; 
	height: 40px; 
	font-size: 18px; 
	color: #0B3B0B;
}

.camposTexto {
	
	width: 300px; 
	height: 30px; 
	font-size: 18px; 
	color: #0B3B0B;
}

.labelCampos{
	color: #4455FF;
}